*{
  background-color: skyblue;
  margin-left: 3%;
  box-sizing: content-box;
}
.header{
  text-align:center;
  font-size: 3rem;
}
.container{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.course_card{
  width: 20%;
  margin: 10px;
  
}
.course_card img{
  width: 100%;
}

.course_card img:hover{
  filter: brightness(50%);
}

.course_card h1:hover{
  color: red;
  cursor: pointer;
}

.course_card h1{
  text-align: center;
  text-decoration: underline;
}


@media screen and (max-width:550px) {
  body{
    margin-left: 1%;
  }
  .header{
    font-size: 2rem;
  }
  .course_card h1{
    font-size:  1rem;
  }
}