*{
  background-color: skyblue;
  margin-left: 30px;
  box-sizing: content-box;
}
.container{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.course_card{
  width: 20%;
  margin: 10px;
  
}
.course_card img{
  width: 100%;
}

.course_card img:hover{
  filter: brightness(50%);
}

.course_card h1:hover{
  color: red;
  cursor: pointer;
}

.course_card h1{
  text-align: center;
  text-decoration: underline;
}